html
html  
   head
      title Login
   body
      form(action = '/', method = 'POST')
         div
            label(for = 'name') Name: 
            input(name = 'name' value=name)
         br
         div
            label(for = 'password') Password: 
            input(name = 'password' type= 'password' value=password)
         br
         button(type = 'submit') Login
         h5 #{message}
      form
         button(type = 'submit' formaction='/signup') Register