html
html  
   head
      title Sign Up
   body
      h3 Account successfuly registered!
      form
         button(type = 'submit' formaction='/signup') Create another account
      form
         button(type = 'submit' formaction='/') Login