html
html  
   head
      title Sign Up
   body
      form(action = '/signup', method = 'POST')
         div
            label(for = 'email') Email: 
            input(name = 'email' value=email)
         br
         div
            label(for = 'name') Name: 
            input(name = 'name' value=name)
         br
         div
            label(for = 'password') Password: 
            input(name = 'password' type= 'password' value=password)
         br
         button(type = 'submit') Create new account